#Data Types And Structure Questions

1. What are data structures, and why are they important?  
   - Data structures are organized ways to store, manage, and organize data so that it can be used efficiently. Think of them as "containers" for data that are optimized for specific tasks, like searching, sorting, or modifying information. Some common examples of data structures include:
     + Arrays (ordered collections of elements)
     + Linked Lists (chains of elements connected by pointers)
     + Stacks and Queues (structures that control the order of operations)
     + Trees (hierarchical data, like file systems)
     + Graphs (networks of nodes and connections)
     + Hash Tables (fast lookup using keys)

    Why data structures are important:
       + Efficiency: Choosing the right structure can make programs run faster and use less memory.
       + Organization: They help organize data logically and clearly.
       + Scalability: Good structures handle growing amounts of data without breaking down.
       + Problem-solving: Many real-world problems can be mapped onto specific data structures, making them easier to solve.
       + Foundation for algorithms: Algorithms often rely heavily on data structures to work effectively.

2.  Explain the difference between mutable and immutable data types with examples?
   - Mutable data types are data types whose values can be changed after the object is created.        
     Immutable data types are data types whose values cannot be changed once the object is created.   
     Examples:  
                my_list = [1, 2, 3]
                my_list[0] = 100  # Changing the first element
                print(my_list)    # Output: [100, 2, 3]
                * Mutable data Type
                
                my_tuple = (1, 2, 3)
                my_tuple[0] = 100  # Error: Tuples are immutable

3. What are the main differences between lists and tuples in Python?   
   - The main differences between lists and tuples revolve around mutability, performance, and use cases. Lists are mutable, meaning their elements can be changed, added, or removed after the list is created. They are defined using square brackets, like [1, 2, 3], and provide many built-in methods such as .append(), .remove(), and .sort(). In contrast, tuples are immutable; once a tuple is created, its contents cannot be altered. Tuples use parentheses for their definition, like (1, 2, 3), and offer fewer methods because they are designed to be fixed collections of items.Because tuples are immutable, they are generally faster and consume less memory compared to lists, making them more efficient for situations where a constant set of values is needed. Lists are better suited for collections of data that may need to change during the program’s execution. Typically, if the data should stay constant (like coordinates, RGB color values, or database keys), a tuple is preferred. If the data needs to be dynamic and updated often, a list is the better choice.

4. Describe how dictionaries store data?
   - Dictionaries in Python store data as key-value pairs. Each item in a dictionary is a pair where a key maps directly to a value. Keys must be unique and immutable types (like strings, numbers, or tuples), while values can be of any type and can be duplicated.

5. Why might you use a set instead of a list in Python?
   - Use a set when you care about uniqueness and speed, and use a list when you care about order or allow duplicates.sets are unordered (they don't maintain the order of elements like lists do) and don't support indexing (you can't do my_set[0]).

6. What is a string in Python, and how is it different from a list?
   - In Python, a string is a sequence of characters used to represent text. Strings are created by enclosing characters in quotes, like "hello" or 'world'. Each character in a string can be accessed by its position (index), similar to how you access items in a list.

    However, there are important differences between a string and a list:

      + Content type: A string only holds characters (letters, numbers, symbols), while a list can hold any type of object (integers, strings, other lists, etc.).
      + Mutability: Strings are immutable, meaning once a string is created, you cannot change its characters directly. Lists are mutable, so you can change, add, or remove elements.
      + Syntax: Strings are created using quotes ("..." or '...'), while lists use square brackets ([...]).

7. How do tuples ensure data integrity in Python?
   - Tuples help ensure data integrity in Python 3 mainly through their immutability — once a tuple is created, it cannot be changed. This means:
      
       + You cannot add, remove, or modify elements inside a tuple.
       + The data stored in a tuple stays fixed throughout the lifetime of the program (unless you create a new tuple).

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a special data structure that stores key-value pairs and allows very fast access to values based on their keys. It works by using a hash function to convert each key into a unique number (called a hash code), which determines where the value is stored in memory.
        
        In Python 3, dictionaries are built on top of hash tables. When you create a dictionary and add a key-value pair:
      + Python calculates the hash of the key.
      + It uses this hash to find an efficient location in memory to store the value.
      + Later, when you look up the key, Python recomputes the hash and goes straight to the stored location — instead of searching through every item — making lookups extremely fast (typically O(1) time).

9. Can lists contain different data types in Python?
   - Yes, lists in Python 3 can contain different data types all in the same list.Python lists are very flexible — you can mix integers, strings, floats, booleans, even other lists or objects together.  
   Examples:
            my_list = [42, "hello", 3.14, True, [1, 2, 3]]
            print(my_list)
            Output: [42, 'hello', 3.14, True, [1, 2, 3]]

10. Explain why strings are immutable in Python?
    - Strings are immutable in Python to enhance performance, ensure thread safety, maintain data integrity, and enable their use as hashable keys in dictionaries and sets.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer several advantages over lists are as follows:
       +  Faster Lookups (O(1) Average Time Complexity.
       +  Key-Value Mapping.
       +  Handling Uniqueness of Keys.
       + Efficient Membership Tests.
       + No Indexing Needed.
       + Flexible Data Types for Keys and Values.

12. Describe a scenario where using a tuple would be preferable over a list?
    - Imagine you're building a mapping or location-based application, and you need to store the geographic coordinates (latitude and longitude) of various places. These coordinates are fixed once established — they don't change. In this case, using a tuple ensures that the data remains unchanged throughout the program, preventing accidental modification.

13. How do sets handle duplicate values in Python?
    - In Python 3, sets automatically remove duplicate values. When you create a set or add items to it, only unique elements are kept — any duplicates are ignored.  
    Example:
             my_list = [1, 2, 2, 3, 4, 4, 5]
             unique_items = set(my_list)
             print(unique_items)
             Output: {1, 2, 3, 4, 5}

14. How does the “in” keyword work differently for lists and dictionaries?
    - The "in" keyword is used in both lists and dictionaries in Python 3, but it works a little differently depending on the data structure:     
    For List:
              my_list = [1, 2, 3, 4, 5]
              print(3 in my_list)  # Output: True
              print(6 in my_list)  # Output: False

     For Dict:  
              my_dict = {"apple": 1, "banana": 2, "cherry": 3}
              print("banana" in my_dict)  # Output: True (checks keys)
              print(2 in my_dict)         # Output: False (2 is a value, not a key)

              # To check for a value:
              print(2 in my_dict.values())  # Output: True

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify the elements of a tuple in Python.This is because tuples are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed. If you try to modify an element inside a tuple, Python will raise a TypeError.

16. What is a nested dictionary, and give an example of its use case.
    - A nested dictionary in Python is a dictionary inside another dictionary. It allows you to organize complex data structures by grouping related information together. Each key in the outer dictionary can map to another dictionary as its value.  
    Example:-
              students = {
                            "Alice": {"age": 24, "major": "Physics"},
                            "Bob": {"age": 22, "major": "Mathematics"},
                            "Charlie": {"age": 23, "major": "Computer Science"}
}

 UseCase:-  
 A nested dictionary is useful when you need to represent hierarchical or structured data.
Example Use Case:
Suppose you're building a university management system. You could use a nested dictionary to store student records, where:
Each student has attributes like age, major, and grades.
You want to easily look up all information about a student using their name.
Example:
         # Accessing Bob's major
         print(students["Bob"]["major"])  # Output: Mathematics

17. Describe the time complexity of accessing elements in a dictionary  
    - In Python, the time complexity of accessing elements in a dictionary is typically O(1) — meaning it takes constant time no matter how many elements are in the dictionary.
    
    Why is it O(1)?    
    + Python dictionaries use a hash table behind the scenes.
    + When you try to access an item with a key (like my_dict["key"]), Python:
      * Calculates the hash of the key.
      * Directly jumps to the memory location where the value should be.
    + This avoids searching through all the elements, making access very fast.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries in Python when:
        + Order Matters
        + Simple Collections
        +  Index-based Access
        + Ordered Iteration
        + Memory Efficiency

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because data retrieval depends on keys, not the position or sequence of items. Even though modern Python versions preserve insertion order, you should think of dictionaries as mappings, not ordered sequences like lists.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - The main difference between a list and a dictionary in terms of data retrieval is how you access the data:
      + List:
           * You retrieve data by index — a numeric position starting from 0.
           * Access is based on the element's position in the list.
           Example:
                    my_list = ["apple", "banana", "cherry"]
                    print(my_list[1])  # Output: banana (position 1)

      + Dictionary:
           * You retrieve data by key — a unique identifier you assign to each value.
           * Access is direct and fast because dictionaries use hash tables (average O(1) time complexity).  
           Example:
                   my_dict = {"fruit1": "apple", "fruit2": "banana", "fruit3": "cherry"}
                   print(my_dict["fruit2"])  # Output: banana (using the key "fruit2")

#Practical Questions

1. Write a code to create a string with your name and print it.

In [2]:

my_name = "Rishabh"
print(my_name)

Rishabh

2. Write a code to find the length of the string "Hello World"

In [3]:
my_string = "Hello World"
length_of_string = len(my_string)
print(length_of_string)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase

In [5]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [7]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [15]:
my_tuple = ('dog', 'cat', 'rabbit')
cat_index = my_tuple.index('cat')
print(cat_index)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ('apple', 'banana', 'cherry')
is_kiwi_present = 'kiwi' in fruits
print(is_kiwi_present)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [18]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [19]:

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:

my_dict = {
    "name": "Rishabh",
    "age": 22,
    "city": "Bulandshahr"
}

print(my_dict)

{'name': 'Rishabh', 'age': 22, 'city': 'Bulandshahr'}

22.. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [23]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'

# Print the updated dictionary
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:

my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = "city" in my_dict
print(key_exists)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [28]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [22, 30, 83, 86, 95]

28. Write a code to create a list with strings and print the element at the third index.

In [29]:

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [30]:
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

dict1.update(dict2)

print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

30. Write a code to convert a list of strings into a set.

In [31]:
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}